@import "../variables";

.p-quiz-point{
    width: 115px;
    height: 55px;
    border: 5px outset #e8d95e;
    background-color: black;
    position: relative;
    &__score{
        height: 100%;
        width: 90%;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        color: #fff000;
        font-family: $point-font;
        font-weight: 800;
        letter-spacing: -1px;
        padding-top: 2px;
    }   
    &__unit{
        color: white;
        font-size: 16px;
        font-family: $m-plus;
        font-weight: 700;
        width: fit-content;
        height: fit-content;
        position: absolute;
        bottom: 2px;
        right: 2px;
    }
}