@import "../variables";

.p-quiz-timer{
    transform: scale(0.20);
    transform-origin: top right;
    right: 0;
    top: 0;
    width: 895px;
    height: 220px;
    position: absolute;
    img{
        position: absolute;
        top: 0;
        left: 0;
    }
    &__gauge{
        overflow: hidden;
        width: 875px;
        height: 196px;
        position: absolute;
        top: 0;
        left: 0;
        position: relative;
    }
    &__gauge::after{
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        box-shadow: -8px 0 3px -3px #b3b3b3 inset;
    }
    &__warning{
        position: absolute;
        top: 0;
        left: 0;
        width: 855px;
        height: 180px;
        background-color: rgba(255, 0, 0, 0.2);
        display: none;
        margin: 20px;
    }
    p{
        margin: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) scale(75%);   
    }
    &__text {
        display: flex;
        align-items: flex-end;
        font-family: verdana;
        font-size: 180px;
        height: 180px;
        font-weight: 700;
        color: #ffffff;
        text-shadow: 
        1px 1px 1px #362B00,
        1px 2px 1px #362B00,
        1px 3px 1px #362B00,
        1px 4px 1px #362B00,
        1px 5px 1px #362B00,
        1px 6px 1px #362B00,
        1px 7px 1px #362B00,
        1px 8px 1px #362B00,
        1px 9px 1px #362B00,
        1px 10px 1px #362B00,
        1px 11px 1px #362B00,
        1px 12px 1px #362B00,
        1px 13px 1px #362B00;
    }
    &__one_place,&__ten_place,&__hundreds_place{
        transform: scaleX(80%) rotateX(0deg);
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__unit {
        transform: scaleX(80%);
        font-size: 60px;
    }
}