@import "../variables";

.p-room-select{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 170px 2fr 70px 0.5fr 70px 1fr;
    &__title{
        grid-column: 1/2;
        grid-row: 2/3;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__img{
        height: 100%;
    }
    &__link-btn{
        background-color: aqua;
        grid-column: 1/2;
        margin: auto;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        $element: #{&};
        &--login{
            @extend #{$element};
            grid-row: 4/5;
        }
        &--join{
            @extend #{$element};
            grid-row: 6/7;
        }
    }
}